.tabs-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    background: #ebebeb;
    border-radius: 16px;
}

.first {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    /* max-width: 600px !important; */
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: black;
    border-color: black;
}