p {
    margin: 0;
    padding: 0;
}

.auction-card {
    box-sizing: border-box;
    min-width: 291px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 20px;
    gap: 22px;
}

.header-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 104px;
}

.spesificationhh {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 16px;
}

.footer-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 11px;
}

.info-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 0px;
    gap: 6px;
    flex-wrap: nowrap;
}