body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Lexend";
}

.container {
  max-width: 1100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lexend';
  font-style: normal;
  margin: 0 !important;
}

a {
  text-decoration: none !important;
}

.space-align-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  padding-top: 5px;
}

.space-align-block {
  flex: none;
  margin: 8px 4px;
  padding: 4px;
  border: 1px solid #40a9ff;
}

.space-align-block .mock-block {
  display: inline-block;
  padding: 32px 8px 16px;
  background: rgba(150, 150, 150, 0.2);
}

.section {
  margin: 60px 0 20px 0;
}

.font-weight-bold {
  font-weight: 700;
}

.Bold {
  font-weight: 700;
}

.SemiBold {
  font-weight: 600;
}

.Medium {
  font-weight: 500;
}

.Regular {
  font-weight: 400;
}

.nav-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 20px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* gap: 283px; */
  /* margin-top: 15px; */
}

.nav-prof {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 20px;
}

/* Card-css start */
.card-car {
  padding: 0 !important;
  margin: 10px 10px;
}

.container-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 20px;
  gap: 22px;
  background: #FFFFFF;
  border-radius: 10px;
}

.Banner .banner-img {
  height: 150px;
}

.Btn-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 28px;
  background: #0066FF;
  border-radius: 10px;
}

.Btn-second {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 28px;

  background: #FFFFFF !important;
  color: #696F8C !important;
  border: 1px solid #D8DAE5;
  border-radius: 10px;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 104px;
}

.dsc {
  color: #90A3BF;
}

.like {
  color: red;
}

.car-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  flex-wrap: nowrap;
  justify-content: center;
}

.img-box {
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}

.product-img {
  border-radius: 10px;
}

.products-i__link {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1
}

.products-i__top {
  position: relative;
  overflow: hidden;
}

.products-i__top img {
  display: block;
  border-radius: 10px;
  width: 100%
}

.products-i {
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 17px 34px 0 rgba(44, 39, 56, 0.04), 0 8px 17px 0 rgba(44, 39, 56, 0.02);
  box-shadow: 0 17px 34px 0 rgba(44, 39, 56, 0.04), 0 8px 17px 0 rgba(44, 39, 56, 0.02);
  border-radius: 7px;
  position: relative;
  background-color: #fff
}

.products-i__top.spincar {
  background-size: cover;
  background-position: center
}

.products-i__label {
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  border-radius: 4px;
  padding: 3px 5px
}

.products-i__label-container {
  position: absolute;
  left: 10px;
  top: 10px;
}

.products-i__label_active {
  color: #fff;
  background: #2E7D32;
}

.products-i__label--spare-parts {
  color: #fff;
  background-color: #ff586d
}

.products-i__info {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 18px;
  z-index: 1;
  font-size: 0
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}

.products-i__icon {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%
}

.products-i__icon+.products-i__icon {
  margin-left: 5px
}

.products-i__paid {
  position: absolute;
  font-size: 0;
  right: 10px;
  bottom: 10px;
  border-radius: 5px;
  background-color: #fff
}

.products-i__paid>span {
  display: inline-block
}

.products-i__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 10px 10px 15px 10px;
  gap: 10px;
  flex-wrap: nowrap;
}

.Title {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  line-height: 17px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;

  color: #1A202C;
}

.Desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1B1C21;
  flex: none;
  word-wrap: break-word;
  order: 4;
  align-self: stretch;
  flex-grow: 0;
}

p {
  text-align: justify;
  word-wrap: break-word;
}

.Card-icon {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #90A3BF;
}

.Gear-icon {
  width: 20px;
  height: 20px;
  background: url(../src/imgs/icons/Gear.svg) no-repeat center;
}

.Vector-icon {
  width: 20px;
  height: 20px;
  background: url(../src/imgs/icons/Vector.svg) no-repeat center;
}

.people-icon {
  width: 20px;
  height: 20px;
  background: url(../src/imgs/icons/people.svg) no-repeat center;
}

.ico {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding: 0px;
  gap: 6px;
  flex-wrap: nowrap;
}

.supplies-shop-products .products-i__name,
.supplies-shops-lot-container .products-i__name {
  margin-bottom: 3px
}

.products-i__attributes {
  margin-bottom: 3px
}

.products-i__datetime {
  line-height: 17px;
  color: #8d94ad
}

.products-i__paid .Gear-icon {
  width: 20px;
  height: 20px;
  background: url(../src/imgs/icons/Gear.svg) no-repeat center;
  /* background-size: 29px */
}

.products-i_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products-i__paid {
  padding: 4px 6px
}

.products-i__datetime {
  font-size: 14px
}

.products-i__price {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #1A202C;
}


.products-i__icon {
  position: relative;
  width: 21px;
  height: 21px;
  cursor: pointer
}

.products-i:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(177, 181, 199, 0.48);
  box-shadow: 0 4px 8px 0 rgba(177, 181, 199, 0.48)
}

.products-i__top {
  border-radius: 10px;
}

.products-i {
  width: 260px;
  /* margin-right: 12px; */
  margin-bottom: 20px;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  -o-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out
}

.products {
  max-width: 1100px;
  margin: 29px 0 15px;
  margin-right: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
  justify-content: space-around;
}

.like {
  width: 24px;
  height: 24px;
  background: url(../src/imgs/icons/Heart.svg) no-repeat center/25px;
  color: #FFFFFF;
}

.like {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  display: inline-block;
  -webkit-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
  transition: all ease 0.25s;
  cursor: pointer
}

.like::before {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  display: block
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.post-date {
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  flex: none;
  order: 1;
  flex-grow: 0;
  color: #90A3BF;
}

.fofgsdfgsr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}

/* Card-css end */


/* Filter start */
.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
  /* background: #FFFFFF; */
  /* box-shadow: 0px 0px 20px rgba(1, 23, 54, 0.05); */
  /* border-radius: 0px 20px 20px 20px; */
  /* flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0; */
}

.bvisdt {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 0px;
  gap: 12px;
  flex-wrap: nowrap;
}

.bvye9eh {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;
  background: #FFFFFF;
  border: 1px solid #C8CAD6;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.sehdfsa {
  display: flex;
  padding: 14px 45px;
  background: #0066FF;
  /* box-shadow: 0px 10px 14px rgba(49, 62, 247, 0.25); */
  flex: none;
  flex-grow: 0;
  width: 30%;
  height: 56px;
}

.all {
  display: flex;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #1B1C21;
  flex: none;
  flex-grow: 0;
  width: 30%;
  height: 56px;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: transparent !important;
  border: none !important;
}

.filtr {
  /* width: 100%; */
  padding: 20px 0 20px 0;
  background: #FBFBFB;
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.fdfghri {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  border-radius: 20px 20px 0px 0px;
  order: 0;
  background: #FFFFFF;
  width: 50%;
}

.hjndswh {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;

  max-width: 1100px;
}

/* Filter end */

/* Footer start  */
.footer {
  justify-content: space-evenly;
  align-items: center;
}

.hr {
  max-width: 1366px;
  border: 1px solid #0055FF;
}

.text-muted {
  list-style: none;
}

/* Footer  end */

/* Product Details start */
.right-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 25px;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 39px;
  display: flex;
  align-items: center;
  color: #1A202C;
}

.Frame42 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px;
  /* gap: 200px; */
  flex-wrap: nowrap;
}

.Reviews {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
}

.imgdfsd {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  width: 100%;
}

.table {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  --border-bottom-width: 1px !important;
}

.table-start {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 5px;
  width: 20% !important;
  background: rgba(144, 163, 191, 0.5);
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #DDDDDD;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.table-end {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 30% !important;
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #DDDDDD;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.live {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1px 10px;
  gap: 10px;
  background: #ED3F3F;
  border-radius: 6px;
  color: #F2F2F2;
  margin: 0 !important;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 200px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.live-end {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  margin: 0 !important;
}

.stdfhds {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 15px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.jgfdt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 200px;
  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
}

.sdfhsfyjg {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  padding: 0px;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.dfgjmes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.gfhdfhgd {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.currentbid {
  color: #90A3BF;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.str-prc {
  color: #90A3BF;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.startprice {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #90A3BF;
}

.sfghsdfh {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 10px;
  background: #0066FF;
  border-radius: 5px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.Lotnumber {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #90A3BF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.ID {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #E9EAEF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.stdfhds-h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #90A3BF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.stdfhdfghlds-h6 {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #1A1826;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.dot {
  width: 5px;
  height: 5px;
  background: #B2D182;
  flex: none;
  order: 0;
  flex-grow: 0;
  border-radius: 999999px;
}

.Status {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 58px;
  height: 16px;
  order: 1;
}

.hvheryfj {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 0px 5px;
  gap: 10px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.hvheryffgd {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 0px 5px;
  gap: 5px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.isergsfd {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.Condition {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 5px;
  background: #B2D182;
  border: 1px solid #15803D;
  border-radius: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  color: #15803D;
}

.fgsdfgsd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 0px 24px 25px;
  gap: 27px;
  background: #FFFFFF;
  border-radius: 10px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  flex-wrap: nowrap;
}

.main-img-border {
  border-radius: 10px;
  align-self: stretch;
}

.mini-imgs {
  width: 100px !important;
  height: 100px;
}

.img-mini-container {
  overflow-y: scroll;
}

.img-group-p {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.code-box-demo .ant-tag {
  margin-bottom: 8px;
}

.bid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 35px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.Activityoverview {
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.countdown-title {
  font-weight: 700;
  font-size: 31px;
  line-height: 39px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* .bid-input-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 35px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  flex-wrap: nowrap;
}
*/
.btn-group-bid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
}

.inf--o {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 15px 50px;
  gap: 16px;
  overflow: auto;
  background: #FFFFFF;
  border-radius: 4px;
  order: 0;
  margin: 0 1px;
  max-height: 100vh;
  height: 100%;
  /* max-width: 600px; */
}

.ant-row {
  flex-flow: nowrap !important;
  max-height: 100vh;
  height: 100%;
}

/* Product Details end */