body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Card-css start */
.card-car {
  padding: 0 !important;
  margin: 10px 10px;
}

.container-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 20px;
  gap: 22px;
  background: #FFFFFF;
  border-radius: 10px;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 104px;
}

.dsc {
  color: #90A3BF;
}

.like {
  color: red;
}

.car-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  flex-wrap: nowrap;
  justify-content: center;
}

.img-box {
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}

.product-img {
  border-radius: 10px;
}

.products-i__link {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1
}

.products-i__top {
  position: relative;
  overflow: hidden;
}

.products-i__top img {
  display: block;
  border-radius: 10px;
  width: 100%
}

.products-i {
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 17px 34px 0 rgba(44, 39, 56, 0.04), 0 8px 17px 0 rgba(44, 39, 56, 0.02);
  box-shadow: 0 17px 34px 0 rgba(44, 39, 56, 0.04), 0 8px 17px 0 rgba(44, 39, 56, 0.02);
  border-radius: 7px;
  position: relative;
  background-color: #fff
}

.products-i__top.spincar {
  background-size: cover;
  background-position: center
}

.products-i__label {
  display: inline-block;
  font-size: 11px;
  line-height: 13px;
  border-radius: 4px;
  padding: 3px 5px
}

.products-i__label-container {
  position: absolute;
  left: 10px;
  bottom: 10px
}

.products-i__label--salon {
  color: #fff;
  background-color: #4264fd
}

.products-i__label--vin {
  color: #212c3a;
  text-transform: uppercase;
  background-color: #fff
}

.products-i__label--spare-parts {
  color: #fff;
  background-color: #ff586d
}


.products-i__info {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 18px;
  z-index: 1;
  font-size: 0
}

.products-i__icon {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%
}

.products-i__icon+.products-i__icon {
  margin-left: 5px
}

.products-i__paid {
  position: absolute;
  font-size: 0;
  right: 10px;
  bottom: 10px;
  border-radius: 5px;
  background-color: #fff
}

.products-i__paid>span {
  display: inline-block
}

.products-i__bottom {
  padding: 10px
}

.products-i__bottom-text {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  color: #212c3a;
  line-height: 17px
}

.products-i__price {
  margin-bottom: 3px;
  font-size: 15px;
  font-weight: bold
}

.products-i__name {
  margin-bottom: 1px;
  font-size: 14px;
  font-weight: 500
}

.supplies-shop-products .products-i__name,
.supplies-shops-lot-container .products-i__name {
  margin-bottom: 3px
}

.products-i__attributes {
  font-size: 14px;
  margin-bottom: 3px
}

.products-i__datetime {
  line-height: 17px;
  color: #8d94ad
}

.products-i__paid .vipped-icon {
  width: 16px;
  height: 13px;
  background: url(//turbo.azstatic.com/assets/application/sprites/main-9f39667ed6b24b37e8c24105c123433982a33c8cd513ea43c376ca256a42fab4.svg#vipped-icon) no-repeat center;
  background-size: 24px
}

.products-i__paid .featured-icon {
  width: 16px;
  height: 13px;
  background: url(//turbo.azstatic.com/assets/application/sprites/main-9f39667ed6b24b37e8c24105c123433982a33c8cd513ea43c376ca256a42fab4.svg#featured-icon) no-repeat center;
  background-size: 29px
}

.products-i__paid .Gear-icon {
  width: 20px;
  height: 20px;
  background: url(../src/imgs/icons/Gear.svg) no-repeat center;
  /* background-size: 29px */
}

.products-i_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}

.products-i__paid {
  padding: 4px 6px
}

.products-i__attributes {
  font-size: 16px
}

.products-i__datetime {
  font-size: 14px
}

.products-i__name {
  font-size: 16px
}

.products-i__price {
  font-size: 18px
}

.products-i__icon--barter {
  background: url(//turbo.azstatic.com/assets/application/sprites/main-9f39667ed6b24b37e8c24105c123433982a33c8cd513ea43c376ca256a42fab4.svg#barter) no-repeat center/cover, #76c81c
}


.products-i__icon {
  position: relative;
  width: 21px;
  height: 21px;
  cursor: pointer
}

.products-i:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(177, 181, 199, 0.48);
  box-shadow: 0 4px 8px 0 rgba(177, 181, 199, 0.48)
}

.products-i__top {
  min-height: 270px;
  border-radius: 10px;
}

.products-i {
  width: 300px;
  margin-right: 12px;
  margin-bottom: 15px;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  -o-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out
}

.products {
  margin: 29px 0 15px;
  margin-right: -18px
}

/* Card-css end */